*{
  font-family: 'Poppins', sans-serif;

}

/*--Bande d'ariane---------------------------------------------------------------------------------------------------------------------------*/

.home,.homeB{
  width: 50px;
  height:45px;
  float:left;
  cursor: pointer;
}


/*CGU-----------------------------------------------------------------------------------------------------------------------------*/
.CGU{
  margin-left: 0px;  /* décale vers la droite */
  margin-top: 100px; 
  color :black;
  font-size :200% 
}

.home{
  display:block;
}
.homeB{
  display:none;
}
.Sombre {
  float: right;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}
.Sombre1 {
  display: block;
}

.Sombre2,
.SombreB {
  display: none;
}