*{
  font-family: 'Poppins', sans-serif;

}

/*--Bande d'ariane---------------------------------------------------------------------------------------------------------------------------*/

.home{
  width: 50px;
  height:45px;
  float:left
}


/*CGU-----------------------------------------------------------------------------------------------------------------------------*/
.CGU{
  margin-left: 0px;  /* décale vers la droite */
  margin-top: 100px; 
  color :black;
  font-size :200% 
}