/*Tout le site-----------------------------------------------------------------------------------------------------------------------------*/
*{
  font-family: 'Poppins', sans-serif;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* IMPORTANT */
}

body {
  display: flex;
  flex-direction: column;
}
/*Bande d'ariane----------------------------------------------------------------------------------------------------------------------------*/
.head{
  background-color: hsla(0, 0%, 97%, 0.97);   /* Couleur de fond (gris foncé) */
  padding: 10px;            /* Espacement interne */
  text-align: center;       /* Centrer le texte */
  font-size: 10px;  
  width: 99%;
  top: 0px;
  left: 0px;
  position:fixed;
  z-index: 1000;
  justify-content: space-evenly;

}

.logo{
  width: 100px;
  height:50px;
  float:left
}

.Bande li{
  display: inline;
}

.Boutton_Se_connecter {
  background-color: #007BFF; /* Bleu */
  color: white;              /* Couleur du texte */
  border: none;              /* Pas de bordure */
  padding: 10px 20px;        /* Espacement interne */
  border-radius: 8px;        /* Bords arrondis */
  cursor: pointer;           /* Curseur "main" */
  font-size: 16px;
  transition: background-color 0.3s; /* Animation fluide */
  float:right;
}

.Boutton_Se_connecter:hover {
  background-color: #0056b3; /* Bleu plus foncé */
}
.nav{
  flex-grow: 1;
}

.Boutton_Publier {
  background-color:sla(0, 0%, 97%,0.97); /* Bleu */
  color: rgb(0, 0, 0);              /* Couleur du texte */
  border: none;              /* Pas de bordure */
  padding: 10px 20px;        /* Espacement interne */
  border-radius: 8px;        /* Bords arrondis */
  cursor: pointer;           /* Curseur "main" */
  font-size: 16px;
  transition: background-color 0.3s; /* Animation fluide */
  margin-left: 400px;  /* décale vers la droite */
  margin-top: 0px; 
}

.Boutton_Publier:hover {
  background-color: #515151; /* Bleu plus foncé */
}

.Boutton_Acceuil {
  background-color:sla(0, 0%, 97%,0.97); /* Bleu */
  color: rgb(0, 0, 0);              /* Couleur du texte */
  border: none;              /* Pas de bordure */
  padding: 10px 20px;        /* Espacement interne */
  border-radius: 8px;        /* Bords arrondis */
  cursor: pointer;           /* Curseur "main" */
  font-size: 16px;
  transition: background-color 0.3s; /* Animation fluide */
  margin-left: -400px;  /* décale vers la droite */
  margin-top: 0px; 

}

.Boutton_Acceuil:hover {
  background-color: #515151; /* Bleu plus foncé */
}

.Boutton_Trouver {
  background-color: sla(0, 0%, 97%,0.97); /* Bleu */
  color: rgb(0, 0, 0);              /* Couleur du texte */
  border: none;              /* Pas de bordure */
  padding: 10px 20px;        /* Espacement interne */
  border-radius: 8px;        /* Bords arrondis */
  cursor: pointer;           /* Curseur "main" */
  font-size: 16px;
  transition: background-color 0.3s; /* Animation fluide */

}

.Boutton_Trouver:hover {
  background-color: #515151; /* Bleu plus foncé */
}

.Messagerie {
  background-color:sla(0, 0%, 97%,0.97); /* Bleu */
  color: rgb(0, 0, 0);              /* Couleur du texte */
  border: none;              /* Pas de bordure */
  padding: 10px 20px;        /* Espacement interne */
  border-radius: 8px;        /* Bords arrondis */
  cursor: pointer;           /* Curseur "main" */
  font-size: 16px;
  transition: background-color 0.3s; /* Animation fluide */
  margin-left: 400px;  /* décale vers la droite */
  margin-top: 0px; 
}

.Messagerie:hover {
  background-color: #515151; /* Bleu plus foncé */}
/*Menu------------------------------------------------------------------------------------------------------------------------------*/

.menu{
      transform: translateX(50%);
    transform: translateY(50%);
}

.menu{
        list-style: none;

}
.menu li {
    width: 200px;
}

.menu .sousmenu li a:hover {
    background-color: #199BD2;
}

.menu li:hover .sousmenu {
    display: block;
}



.menu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    background: #293245;
    padding: 6px 10px;
    border-right: 1px solid #FFF;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {background-color: #199BD2;}
.menu li a:active {background-color: #808080;}

.menu .sousmenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
.menu {
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: 40px;
}

.menu li {
    float: left;
    width: 200px;
}
.menu .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu .sousmenu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #808080;
}
/*Pied de page------------------------------------------------------------------------------------------------------------------------------*/

.Pied{
  background: #222;
  color: white;
  padding: 10px;
  text-align: center;   
  left :0%;   
}

main {
  flex: 1; /* pousse le footer vers le bas */
}