
.rectangle {
  height: 450px;
  width: 500px;
  background-color: #ececec;
  border-radius: 30px;
  text-align: center;
  margin-left: 33%;  
  margin-top: 7%;
  position: relative;
}
.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Inscription,.reinitialisation{
  background-color: #ececec;
  color: rgb(0, 0, 0);              
  border: none;             
  padding: 10px 20px;       
  border-radius: 8px;        
  cursor: pointer;           
  font-size: 16px;
  transition: background-color 0.3s
}

.Inscription:hover {
  background-color: #515151; 
}

.reinitialisation{  
  background-color: #ececec;
  color: rgb(0, 0, 0);              
  border: none;              
  padding: 10px 20px;        
  border-radius: 8px;        
  cursor: pointer;           
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 90px;
  cursor: pointer;
}

.reinitialisation:hover {
  background-color: #515151; 
}


input {
  display: block;
  margin: 30px auto;
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}


.zone_de_connexion li{
  display: inline;
}


.S{
  margin-top: 3%;
  border-radius: 10%;
}

.S:hover{
    background-color: #e1e1e1; 

}

.p1{
  top: 5%;
}

.connexion{
  border-radius: 10px;
  font-size: 16px;
  padding: 2% 5%;
  background-color: #007BFF;
  color: white
}

.connexion:hover{
  background-color:#0056b3 ;
}



main {
  flex: 1;
}
.formulaire{
  -ms-transform-origin-y: 50%;
}
.g_id_signin{
  border-radius: 10px;
  left :10%
}



.reinitialisation{
  background-color:#ececec ;
}

.overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  background: white;
  width: 30%;
  height: 30%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  left: 35%;
  top :15%
}

.popup-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.fermer {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  z-index: 1000;
  width: 15%;
  height: 25%;
}

.google-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}


