body.dark {
  background-color: #1c1c1e;
}

body.dark .head{
    background:#515151;
}

.logo_clair{display:block;}
.logo_sombre{display:none;}

body.dark .logo_clair{display:none;}
body.dark .logo_sombre{display:block;}

body.dark .head.button{
    background-color: blue;
}

.Sombre1{display:block;}
.SombreB{display:none;}

body.dark .Sombre1{display:none;}
body.dark .SombreB{display:block;}

body.dark .rectangle {
      background:#727272;

}

body.dark .rectangle.button{
        background:#727272;

}