# Database - Local
DB_LOCAL_HOST=localhost
DB_LOCAL_PORT=3306
DB_LOCAL_DB=driveus
DB_LOCAL_USER=root
DB_LOCAL_PASS=

# Database - Production
DB_PROD_HOST=db5019347583.hosting-data.io
DB_PROD_PORT=3306
DB_PROD_DB=dbs15148242
DB_PROD_USER=dbu150815
DB_PROD_PASS=your_production_password_here

# Environment
APP_ENV=local
