/* Mode sombre pour la page CGU */

html.dark,
body.dark {
  background: #000000;
}


body.dark .home,.Sombre1 {
  display: none;
}

body.dark .homeB,.SombreB {
  display: block;
}





body.dark p,
body.dark ul,
body.dark li,
body.dark h3,
body.dark h4,
body.dark b {
  color: #f1f5f9;
}

body.dark p strong,
body.dark h3 strong,
body.dark h4 strong {
  color: #93c5fd;
}




